<div class="container-fluid text-light">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/reviews">
                            All Reviews
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/comments">
                            All Comments
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Mange Users</h1>
            <div class="table-responsive">
                <table class="text-light table ">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Age</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.username}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.age}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                       <button type="button" class="btn btn-sm btn-danger"
                                        onclick="window.location.href='/admin/users/delete/{{this._id}}'">Delete Account</button>
                                    <button type="button" class="btn btn-sm btn-warning"
                                        onclick="window.location.href='/admin/reviews/{{this._id}}'">Manage
                                        Reviews</button>
                                    <button type="button" class="btn btn-sm btn-success"
                                        onclick="window.location.href='/admin/comments/{{this._id}}'">Manage
                                        Comments</button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>