<div class="container-fluid">
<main>
  <h1 class="category">{{title}}</h1>
  <div class="jumbotron">
    <div class="container text-center">
  <p>{{detail}}</p>
  </div>
  </div>
  
    <div class="row">
      {{#if category}}
      {{#each category}}
        <div class="col-sm-3">
            <a class="anime-item" href="/anime/{{this.id}}"><img
                class="character-image"
                src="{{this.attributes.posterImage.small}}"
                alt="{{this.attributes.canonicalTitle}}"
              />
              </a>
              <p>{{this.attributes.canonicalTitle}}</p>
        </div>
        {{/each}}
      {{else}}
        <p class="not-found">We're sorry, but no results were found for
          {{character}}.</p>
      {{/if}}
    </div>
    <h3 class="categories">Categories</h3>
  <div class="category-cateloge">
    <div class="row">
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/comedy" role="button">COMEDY</a>
    </div>
    <div class="col-sm-2">
     <a class="btn btn-outline-primary" href="/action" role="button">ACTION</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/adventure" role="button">ADVENTURE</a>
    </div>
    <div class="col-sm-2">
       <a class="btn btn-outline-primary" href="/sports" role="button">SPORTS</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/fantasy" role="button">FANTASY</a>
    </div>
    </div>
    <div class="row" id="orderTwo">
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/drama" role="button">DRAMA</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/horror" role="button">HORROR</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/mystery" role="button">MYSTERY</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/thriller" role="button">THRILLER</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-outline-primary" href="/magic" role="button">MAGIC</a>
    </div>
    </div>
  </div>
 
</main>
 </div>