<div class="container-fluid">
{{!-- <a class="get-home" href="/">Make another search</a> --}}
<main>
  {{!-- <h1 class="main-search">{{title}}</h1> --}}
  <h3 class="character-return">Search results for: {{character}}</h3>
  
    <div class="row">
      {{#if newCharacter}}
      {{#each newCharacter}}
        <div class="col-sm-3">
            <a class="anime-item" href="/anime/{{this.id}}"><img
                class="character-image"
                src="{{this.attributes.posterImage.small}}"
                alt="{{this.attributes.canonicalTitle}}"
              />
              </a>
              <h5>{{this.attributes.canonicalTitle}}</h5>
        </div>
        {{/each}}
      {{else}}
        <p class="not-found">We're sorry, but no results were found for
          {{character}}.</p>
      {{/if}}
    </div>
 
</main>
 </div>